

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 2em;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.top-row-1 {

  grid-column: 1;
  grid-row: 1
}

.top-row-2 {

  grid-column: 2;
  grid-row: 1
}

.top-row-3 {

  grid-column: 3;
  grid-row: 1
}

.middle-row-1 {

  grid-column: 1;
  grid-row: 2
}

.middle-row-2 {

  grid-column: 2;
  grid-row: 2
}

.middle-row-3 {

  grid-column: 3;
  grid-row: 2
}

.bottom-row-1 {

  grid-column: 1;
  grid-row: 3
}

.bottom-row-2 {

  grid-column: 2;
  grid-row: 3
}

.bottom-row-3 {

  grid-column: 3;
  grid-row: 3
}
